.search-bar {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  // height: 100px;
}

mat-label{
  font-size: 20px;
}
.page {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.card {
  /* Stili predefiniti per la card */
  transition: transform 0.25s;
}

.card:hover {
  /* Stili per l'effetto di ingrandimento */
  transform: scale(1.1);
}

