<!-- <mat-paginator [length]="826" [pageSizeOptions]="[20, 50, 100]" aria-label="Select page"></mat-paginator> -->



<!--      SEARCH BAR       -->
<form class="search-bar" [formGroup]="searchForm">
  <mat-form-field class="full-width">
    <mat-label><mat-icon aria-hidden="false" aria-label="home icon" fontIcon="search"></mat-icon>Search
      Character</mat-label>
    <input matInput placeholder="Ex. Rick" value="" type="text" formControlName="search" (input)="onSearch()">
  </mat-form-field>
</form>

<!--     PREV AND NEXT    -->
<div class="pagination">
  <button class="pagebtn" mat-raised-button (click)="loadPrevPage()">Prev Page</button>
  <span class="current-page">{{currentPage}}</span>
  <button class="pagebtn" mat-raised-button (click)="loadNextPage()">Next Page</button>
</div>


<!--    CARDS VIEW     -->
<div cols="3" *ngIf="characterList?.length" class="page">
  <div *ngFor="let character of characterList">
    <app-character [character]="character" class="card"></app-character>
  </div>
</div>

<div class="page" *ngIf="!characterList?.length">
  <app-character *ngFor="let character of characters" [character]="character" class="card"></app-character>
</div>

<div class="pagination-bottom">
  <button class="pagebtn" mat-raised-button (click)="loadPrevPage()"> <--</button>
  <span class="current-page">{{currentPage}}</span>
  <button class="pagebtn" mat-raised-button (click)="loadNextPage()"> --></button>
</div>
