.container{
  display: flex;
  flex-direction: column;

}

.stronzo{
  display: flex;
  flex-direction: column;

}

.gesu{
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
