.search-bar {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  // height: 100px;
}

mat-label{
  font-size: 20px;
}
.page {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
