<div class="general-container">
  <div class="div-card">
    <mat-card *ngIf="character" class="card">

      <mat-card-header>
        <span>
          <img mat-card-image src="{{character.image}}" alt="image">
        </span>
      </mat-card-header>

      <span class="info">
        <mat-card-title class="name"> {{character.name}} </mat-card-title>
        <mat-card-subtitle> {{character.status}} - {{character.species}} - {{character.gender}} </mat-card-subtitle>
        <p> Homeworld:
          <strong> {{character.origin.name}}
          </strong>
        </p>

        <p>Last know location:
          <strong>{{character.location.name}}</strong>
        </p>
        <!-- <p>First seen in: <a href="{{character.episode[0]}}" target="_blank"></a></p> -->
        <!-- <p>Creation date:
          <strong>{{character.created}}</strong>
        </p> -->
      </span>
    </mat-card>
  </div>
</div>
