mat-card-header {
  margin: 0;
  padding: 0;
  display: flex;
}

.card {
  margin: 20px;
  align-items: center;
  color: aliceblue;
  height: auto;
  width: 300px;
  height: 540px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px rgba($color: #69f0ae, $alpha: 1);
  // overflow: auto;
}

mat-card {
  margin: 0px;
  // background-size: cover;
  display: flex;
  text-align: center;
  border-radius: 15px;
  overflow: auto;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.name {
  margin: 10px;
  font-size: 30px;

}


.info {
  margin: 15px;
}

.date{
  display: flex;
}

.sub-info{
  margin-bottom: 5px;
}



//---------- MEDIA QUERY ---------------
// @media screen and (max-width: 679px) {
//   .card{
//   height: auto;
//   }
// }
// @media screen and (max-width: 570px) {

// }

// @media screen and (max-width: 650px) {

// }

// @media screen and (max-width: 407px) {

// }

// @media screen  and (max-width: 350px) {

// }
