.example-card {
  max-width: 500px;
}

img{
width: 100%;
}

.div-card{
  display: flex;
  flex-direction: row;
  margin: 10px;
  color: aliceblue;
}
a{
  text-decoration:none;
}
mat-card{
  // display: flex;
  // flex-direction: row;
  text-align: center;
  border-radius: 15px;
  margin: 0;
}


