mat-toolbar{
  display: flex;
  justify-content: center;
  height: 125px;
  font-size: 40px;
}

div{
  // background-image: url('./assets/nirvanaRick.jpg');
  background-size: cover;
}
nav{
  display: flex;
  justify-content:center ;
}
button{
  margin: 5px;
}
