<!-- <mat-toolbar>
  <span class="title-site">Rick and Morty</span>
  <img width="100px" src="./assets/vomitRick.png" alt="">
  </mat-toolbar> -->

<div class="title-site">
  <img class="title-img" src="../assets/title/rickkk.png" alt="" >
</div>


<nav>
  <!--    ROUTING BUTTON     -->
  <button mat-raised-button color="accent" class="btn-nav" routerLink="/character-page" routerLinkActive="active"
    ariaCurrentWhenActive="page">Character</button>
  <button mat-raised-button color="accent" class="btn-nav" routerLink="/location-page" routerLinkActive="active"
    ariaCurrentWhenActive="page">Location</button>
  <button mat-raised-button color="accent" class="btn-nav" routerLink="/episode-page" routerLinkActive="active"
    ariaCurrentWhenActive="page">Episode</button>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

<div class="supercontainer">
  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>



    <!-- <a href="#"><ion-icon name="logo-instagram"></ion-icon></a> -->



    <div class="logo">
      <ul>
        <a href="https://www.instagram.com/simone.maccarone/?hl=it" class="fa fa-instagram"></a>
        <a href="https://github.com/SimoneMaccaarone/" class="fa fa-github"></a>
        <a href="https://www.youtube.com/channel/UCo_5W1uH8WswKEoVZ2Ip0hA" class="fa fa-youtube"></a>
      </ul>
    </div>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="https://github.com/SimoneMaccaarone/"
          target="_blank">Github</a></li>
      <li class="menu__item"><a class="menu__link" href="https://www.codewars.com/users/Coder-Monkey"
          target="_blank">Codewars</a></li>
      <li class="menu__item"><a class="menu__link" href="mailto:simone.maccarone3@gmail.com">Contact</a></li>
    </ul>
    <div class="nome-mio">
      <p>&copy;2023 Simone Maccarone</p>
    </div>
  </footer>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
