/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

html,
* {
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mdc-text-field {
  background-color: rgba(#69f0ae,1) !important;
  font-family: 'Fredoka One', cursive;
}

.ng-tns-c1607617776-0,
.ng-tns-c1607617776-1 {
  font-family: 'Fredoka One', cursive !important;
}
